<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Simple</h2>
        <p>Never again have to fill out a 50 line form to fix your sink. Couple clicks and you're done!</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Clear</h2>
        <p>Ever wonder when your refrigerator is going to be fixed? How much longer? How much will it cost? See how easy it is to track tickets.</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modern</h2>
        <p>We use all the technologies with the names you can't pronounce.</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>
